<section id="inicio" class="hero">

  <div class="content">

    <p class="subtitle">
      Direito Previdenciário
    </p>

    <h1>
      Atendimento jurídico especializado e humanizado
    </h1>

    <p class="description">
      Especialista em direito previdenciário com atendimento online para todo o Brasil e exterior: segurança,
      transparência e eficiência para a sua aposentadoria, benefícios e revisão no INSS.
    </p>

    <div class="buttons">

      <a
        class="btn-primary"
        href="https://wa.me/5522992015913"
        target="_blank"
      >
        Fale no WhatsApp
      </a>

      <a
        href="#sobre"
        class="btn-secondary"
      >
        Saiba Mais
      </a>

    </div>

  </div>

</section>